* {
  font-family: "Raleway", sans-serif;
  color: black;
}

body {
  background-image: url("rain.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
  text-align: center;
}
/* .all content, */
.start-page {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.big-cloud {
  min-width: 480px;
  width: 100%;
  position: relative;
}
.cloud-content {
  position: absolute;
  bottom: 100%;
  top: 135px;
  /* left: 38%; */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}
.greeting {
  margin-top: 30px;
}
.time-title {
  padding: 0px;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 30px;
}
.time-input {
  padding: 11px;
  width: 72px;
  border: solid 1px rgb(145, 145, 145);
  border-radius: 3px;
  margin-left: 30px;
}
.theme-title {
  margin-bottom: 5px;
  text-align: left;
  margin-left: 15px;
  margin-left: 30px;
}
.time-theme-flex {
  display: flex;
  justify-content: space-between;
}
.time-flex {
  display: flex;
}
.arrow-flex {
  width: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3px;
}
.up-arrow:hover,
.down-arrow:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.theme-flex {
  display: flex;
}
#theme {
  padding: 10px;
  padding-right: 0;
  width: 96px;
  border: solid 1px rgb(145, 145, 145);
  border-radius: 3px;
  margin-right: 4px;
  margin-left: 30px;
}
.input-name {
  padding: 10px;
  width: 215px;
}

#start-btn {
  background-color: white;
  border-radius: 100%;
  border: 4px rgb(163, 163, 163);
  margin-top: 30px;
  padding: 32.5px 20px;
  border-style: outset;
  font-weight: 700;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}
#start-btn:hover {
  border-style: inset;
  box-shadow: inset 2px 5px 10px #d8d8d8;
  cursor: pointer;
}

li {
  color: black;
  list-style-type: none;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  width: 100px;
}
li:hover {
  background-color: rgb(197, 197, 197);
  color: white;
  cursor: pointer;
}
li:not(:last-child) {
  border-bottom: solid 1px rgb(145, 145, 145);
}
ul {
  border-radius: 3px;
  border: solid 1px rgb(145, 145, 145);
  padding: 0;
  margin-top: 5px;
}
.sound {
  width: 30px;
}
.sound:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.8;
}

.star-button {
  width: 30px;
  display: block;
  margin: 0 auto;
}
.star-button:hover {
  cursor: pointer;
}
.lucky-p {
  font-style: italic;
  display: none;
  cursor: pointer;
  opacity: 0.5;
  margin-bottom: 0;
}
.feeling-lucky {
  height: 2em;
  overflow: hidden;
}

/* -----------MEDIA QUERIES-------------- */

@media screen and (max-width: 900px) {
  .cloud-content {
    top: 17vw;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }

  #start-btn {
    padding: 22px 10px;
  }
}
@media screen and (max-width: 800px) {
  .cloud-content {
    top: 14vw;
  }
}
@media screen and (max-width: 730px) {
  .cloud-content {
    top: 16vw;
  }
  .greeting {
    margin-top: 15px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 14px;
  }
  .name-p,
  .lucky-p {
    font-size: 11px;
  }
  input {
    font-size: 11px;
  }
  select {
    font-size: 11px;
  }

  #start-btn {
    margin-top: 20px;
  }
}
@media screen and (max-width: 680px) {
  #start-btn {
    padding: 17px 6.5px;
    font-size: 11px;
  }
  .sound {
    width: 25px;
  }
}
@media screen and (max-width: 640px) {
  .big-cloud {
    /* position: relative; */
    margin: 0 auto;
  }
  .start-page {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .cloud-content {
    top: 16vw;
  }
  #theme {
    padding: 5px;
  }
  .time-input {
    padding: 5.5px;
  }
  .input-name {
    padding: 5px;
  }
  .greeting {
    margin-top: 10px;
    margin-bottom: 8px;
  }
  .name-p {
    margin-top: 8px;
  }
  #start-btn {
    margin-top: 10px;
  }
}

@media screen and (max-width: 540px) {
  .big-cloud {
    /* position: relative; */
    margin: 0 auto;
  }
  .start-page {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .cloud-content {
    top: 13vw;
  }
  .star-button {
    width: 25px;
  }
  #start-btn {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .cloud-content {
    top: 15vw;
  }
}
@media screen and (max-width: 380px) {
  .cloud-content {
    top: 17vw;
  }
}

@media screen and (max-width: 350px) {
  .cloud-content {
    top: 19vw;
  }
}

/* @media screen and (max-width: 320px) {
  .big-cloud {
    position: relative;
    top: 100%;
    bottom: 100%;
    left: 1%;
    right: 1%;
    margin: 0 auto;
  }
  .start-page {
    position: absolute;
    overflow: hidden;
  }
} */

/* .page-container {
  display: none;
}

.page-container {
  margin: 0 auto;
  margin-top: 50px;
  width: 960px;
  text-align: center;
}
.title {
  font-size: 40px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.timer-container {
  display: flex;
  flex-direction: column;
}

.sound-container {
  display: flex;
  flex-direction: column;
}
.cloud-container {
  display: flex;
  flex-direction: column;
}
img {
  position: relative;
}
.cloud-timer {
  position: absolute;
  right: 46.5%;
  top: 170px;
}
p {
  font-size: 50px;
  color: rgb(196, 196, 196);
  margin-bottom: 10px;
  margin-top: 18px;
}

.play:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.sound-symbol {
  width: 54px;
  margin: 30px auto;
} */
