* {
  font-family: "Raleway", sans-serif;
  color: black;
}

body {
  background-image: url("rain.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
  text-align: center;
  margin: 0 auto;
}
/* .all content, */
.start-page {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.big-cloud {
  min-width: 480px;
  width: 100%;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}
.cloud-content {
  position: absolute;
  bottom: 100%;
  top: 135px;
  /* left: 38%; */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}
.greeting {
  margin-top: 20px;
}
.time-title {
  padding: 0px;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 30px;
}
.time-input {
  padding: 11px;
  width: 72px;
  border: solid 1px rgb(145, 145, 145);
  border-radius: 3px;
  margin-left: 30px;
}
.theme-title {
  margin-bottom: 5px;
  text-align: left;
  margin-left: 15px;
  margin-left: 30px;
}
.time-theme-flex {
  display: flex;
  justify-content: space-between;
}
.time-flex {
  display: flex;
}
.arrow-flex {
  width: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3px;
}
.up-arrow:hover,
.down-arrow:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.theme-flex {
  display: flex;
}
#theme {
  padding: 10px;
  padding-right: 0;
  width: 96px;
  border: solid 1px rgb(145, 145, 145);
  border-radius: 3px;
  margin-right: 4px;
  margin-left: 30px;
}
.input-name {
  padding: 10px;
  width: 215px;
}

#start-btn {
  background-color: white;
  border-radius: 100%;
  border: 4px rgb(163, 163, 163);
  margin-top: 30px;
  padding: 32.5px 20px;
  border-style: outset;
  font-weight: 700;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}
#start-btn:hover {
  border-style: inset;
  box-shadow: inset 2px 5px 10px #d8d8d8;
  cursor: pointer;
}
.sound {
  width: 30px;
}
.sound:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.8;
}
.heart-star-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.heart-button {
  width: 30px;
  display: block;
  margin: 0 auto;
  opacity: 0.7;
  position: relative;
}

.star-button {
  width: 30px;
  display: block;
  margin: 0 auto;
}
.star-button:hover {
  cursor: pointer;
}
.lucky-p {
  font-style: italic;
  display: none;
  cursor: pointer;
  opacity: 0.5;
  margin-bottom: 0;
}
.feeling-lucky {
  height: 2em;
  overflow: hidden;
  width: 8em;
}
.frequently-used {
  height: 2em;
  width: 8em;
  overflow: hidden;
}

.frequently-p {
  font-style: italic;
  display: none;
  cursor: pointer;
  opacity: 0.5;
  margin-bottom: 0;
}
.dialog-bold,
.dialog-time,
.dialog-theme {
  margin: 8px 0;
}
.dialog-bold {
  margin-right: 5px;
  font-weight: 700;
}
.dialog-time-flex,
.dialog-theme-flex {
  display: flex;
  justify-content: center;
}

.dialog-box {
  width: 150px;
  height: 180px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  top: 40px;
  left: 130px;
  padding-top: 0;
  display: none;
}
.close-window {
  margin: 5px;
  text-align: right;
  transform-origin: right 10px 10px;
}
.close-window:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 0.8;
}
li {
  color: black;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: center;
}
ul {
  padding: 0;
  margin-top: 5px;
}
.option-btn {
  background-color: #393939;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.option-btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.scale-down-keyframe {
  animation: scaledown 2s;
}
@keyframes scaledown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.5);
  }
}
.scale-up-keyframe {
  animation: scaleup 2s;
}
@keyframes scaleup {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

/* -------- SECOND PAGE ---------  */
.second-content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: none;
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
}
.timer {
  font-weight: bold;
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.play-stop-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pause-btn,
.stop-btn {
  width: 30px;
  margin: 0 10px;
}
.pause-btn:hover,
.stop-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.8;
}

.confirm-box {
  width: 150px;
  height: 120px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: 145px;
  display: none;
}
.ok-btn,
.cancel-btn {
  background-color: #393939;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.cancel-btn {
  opacity: 0.5;
}
.ok-btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.cancel-btn:hover {
  opacity: 0.4;
  cursor: pointer;
}
.stop-btn {
  position: relative;
}
/* ------------------third content--------------------------*/

.third-content {
  display: none;
  position: absolute;
  left: 50%;
  top: 265px;
  z-index: 10;
  transform: translateX(-50%);
}

.restart-question {
  font-size: 15px;
}
.yes-btn,
.return-btn {
  background-color: #393939;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.yes-btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.return-btn {
  opacity: 0.5;
}
.return-btn:hover {
  opacity: 0.4;
  cursor: pointer;
}

/* -----------MEDIA QUERIES-------------- */

@media screen and (max-width: 900px) {
  .cloud-content {
    top: 17vw;
  }
  .timer {
    top: 28vw;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }

  #start-btn {
    padding: 22px 10px;
  }
  .dialog-box {
    width: 120px;
    height: 140px;
    font-size: 14px;
    left: 145px;
  }
  li {
    padding: 5px;
  }
  .option-btn {
    margin-top: 4px;
  }
}
@media screen and (max-width: 800px) {
  .cloud-content {
    top: 14vw;
  }
}
@media screen and (max-width: 730px) {
  .cloud-content {
    top: 16vw;
  }
  .greeting {
    margin-top: 15px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 14px;
  }
  .name-p {
    font-size: 14px;
  }
  .lucky-p,
  .frequently-p {
    font-size: 11px;
  }
  input {
    font-size: 11px;
  }
  select {
    font-size: 11px;
  }

  #start-btn {
    margin-top: 20px;
  }
  .dialog-box {
    top: 35px;
  }
  .timer {
    top: 25vw;
  }
}
@media screen and (max-width: 680px) {
  #start-btn {
    padding: 17px 6.5px;
    font-size: 11px;
  }
  .sound {
    width: 25px;
  }
}
@media screen and (max-width: 640px) {
  .big-cloud {
    /* position: relative; */
    margin: 0 auto;
  }
  .start-page {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .cloud-content {
    top: 16vw;
  }
  #theme {
    padding: 5px;
  }
  .time-input {
    padding: 5.5px;
  }
  .input-name {
    padding: 5px;
  }
  .greeting {
    margin-top: 10px;
    margin-bottom: 8px;
  }
  .name-p {
    margin-top: 8px;
  }
  #start-btn {
    margin-top: 10px;
  }
  .option-btn {
    padding: 8px;
    font-size: 11px;
    margin-top: 10px;
  }
  .timer {
    top: 21vw;
  }
}

@media screen and (max-width: 540px) {
  .big-cloud {
    /* position: relative; */
    margin: 0 auto;
  }
  .start-page {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .cloud-content {
    top: 13vw;
  }
  .star-button {
    width: 25px;
  }
  #start-btn {
    margin-top: 10px;
  }
  .heart-button {
    width: 25px;
  }
  .dialog-box {
    top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .cloud-content {
    top: 15vw;
  }
  /* .big-cloud {
    transform: translateX(-50%, -50%);
  } */
  /* body {
    min-height: 400px;
    overflow: hidden;
  } */
}
@media screen and (max-width: 380px) {
  .cloud-content {
    top: 17vw;
  }
}

@media screen and (max-width: 350px) {
  .cloud-content {
    top: 19vw;
  }
}

/* @media screen and (max-width: 320px) {
  .big-cloud {
    position: relative;
    top: 100%;
    bottom: 100%;
    left: 1%;
    right: 1%;
    margin: 0 auto;
  }
  .start-page {
    position: absolute;
    overflow: hidden;
  }
} */

/* .page-container {
  display: none;
}

.page-container {
  margin: 0 auto;
  margin-top: 50px;
  width: 960px;
  text-align: center;
}
.title {
  font-size: 40px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.timer-container {
  display: flex;
  flex-direction: column;
}

.sound-container {
  display: flex;
  flex-direction: column;
}
.cloud-container {
  display: flex;
  flex-direction: column;
}
img {
  position: relative;
}
.cloud-timer {
  position: absolute;
  right: 46.5%;
  top: 170px;
}
p {
  font-size: 50px;
  color: rgb(196, 196, 196);
  margin-bottom: 10px;
  margin-top: 18px;
}

.play:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.sound-symbol {
  width: 54px;
  margin: 30px auto;
} */
